# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Vercel
.vercel/

# Models
models/

# Dataset
dataset/

# Virtual environment
.venv/
venv/

# Distribution / packaging
*.egg-info/